* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #d3d3d3;
  font-family: 'Rubik', sans-serif;
 }

main {
  width: 375px;
  margin-left: auto;
  margin-right: auto;
  padding-top:48px;
}

.comment-section {
  background-color: #fff;
  padding: 12px 24px 24px 24px;
  margin-bottom: 12px;
  border-radius: 6px;
}

.title {
  display: flex;
  align-items: center;
}

.comment-text {
  line-height: 20px;
  color: hsl(211, 10%, 45%);
  margin-top: 12px;
}

.title-img {
  width: 48px;
  margin-right: 12px;
}

.name {
    font-weight: bold;
    margin-right: 24px;
    color: hsl(212, 24%, 26%);
}

.time {
    color: hsl(211, 10%, 45%);
}

.likes{ 
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e3e3e3;
  padding: 8px;
  border-radius: 6px;
  width: 24%;
  gap: 8px;
}

.likes p {
    color: hsl(238, 40%, 52%);

}

.reply {
    display: flex;
}

.reply p {
    color: hsl(238, 40%, 52%);
    cursor: pointer;
    margin-left: 12px;
}

.comment-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    align-items: center;
}

.reply-wrapper {
    border-left: #e3e3e3 solid 2px;
    padding-left: 24px;
    margin-top: 12px;
}

.reply-section {
    margin-top: 12px;
}
